<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to 'top', root_path %>
        <%= link_to 'books', books_path %>
        <%= link_to 'users', users_path %>
        <%= link_to 'log_out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'about', about_path %>
        <%= link_to 'log_in', user_session_path %>
        <%= link_to 'sign_up', new_user_registration_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
